doctype html
html
    head
        title="Auth with Google"
        meta(charset="UTF-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
    body
        h1 Thank you for trust this is not a scam!