doctype html
html
    head
        title="Auth with Google"
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(charset="UTF=8")
    body
        h1 This is my first app using Pug and Express
        p Please log in to see what happens 
        a(href="/auth/google")
            button Log In     